<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
