 

.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}


.cm-s-default span.cm-variablea {color: black;}
.cm-s-default span.cm-variableb {color: #05a;}
.cm-s-default span.cm-variablec {color: #0a5;}
.cm-s-default span.cm-variabled {color: #AA445a;}



.cm-s-default span.cm-paramdef {color: #78aC46;}

.cm-s-default span.cm-keyworda {color: #5F4B62;}
.cm-s-default span.cm-keywordb {color: #48AA77;}
.cm-s-default span.cm-keywordc {color: #1C35A1;}
.cm-s-default span.cm-keywordd {color: #4C503E;}

.cm-s-default span.cm-specoperatora {color: #666;}
.cm-s-default span.cm-specoperatorb {color: #a4bc66;}
.cm-s-default span.cm-specoperatorc{color: #45ab78;}
.cm-s-default span.cm-specoperatord {color: #AFA;}

.cm-s-default span.cm-createclass {color: #1CCD8A;}
.cm-s-default span.cm-error {color: #FFFFFF;}

.cm-s-default span.cm-createdef{color: #147CCC;}

.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}
